In [ ]:
import pip
pip.main(['install', 'pandas'])
pip.main(['install', 'matplotlib'])
pip.main(['install', 'seaborn'])
pip.main(['install', 'scikit-learn'])

# CHARGEMENT DES BIBLIOTHEQUES

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

Chargement du jeu de données ENTETES TICKET V4.

In [3]:
dataset_path = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\ENTETES_TICKET_V4.csv"
ENTETES_TICKET = pd.read_csv(dataset_path, sep='|', low_memory=False)
print(ENTETES_TICKET.shape)
print(list(ENTETES_TICKET.columns))

(6714173, 5)
['IDTICKET', 'TIC_DATE', 'MAG_CODE', 'IDCLIENT', 'TIC_TOTALTTC']

La ligne de code ci-dessous nous permet de connaître le détail des colonnes ainsi que le type de données constituant notre base (numérique ou caractères).

In [4]:
ENTETES_TICKET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6714173 entries, 0 to 6714172
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   IDTICKET      int64
 1   TIC_DATE      object
 2   MAG_CODE      object
 3   IDCLIENT      float64
 4   TIC_TOTALTTC  object
dtypes: float64(1), int64(1), object(3)
memory usage: 256.1+ MB

Aperçu de notre jeu de données.

In [5]:
ENTETES_TICKET

              IDTICKET             TIC_DATE MAG_CODE   IDCLIENT TIC_TOTALTTC
0          50100150510  2016-01-02 11:01:33      ALB  2995104.0         12,9
1          50100150511  2016-01-02 11:02:10      ALB  1411117.0       131,06
2          50100150515  2016-01-02 12:03:27      ALB   222592.0        34,69
3          50100150517  2016-01-02 14:23:21      ALB  2979958.0        97,58
4          50100150518  2016-01-02 14:26:53      ALB  2858676.0          4,7
...                ...                  ...      ...        ...          ...
6714168  1340300014404  2016-12-27 16:31:52      RMA  2292927.0        59,45
6714169  1340300014407  2016-12-27 16:35:21      RMA  3189844.0         26,9
6714170  1340300014409  2016-12-27 16:38:59      RMA  3125998.0        22,15
6714171  1340300014438  2016-12-27 17:17:30      RMA  3252348.0       118,01
6714172  1340300014440  2016-12-27 17:24:15      RMA  3243933.0         44,8

[6714173 rows x 5 columns]

Afin d'exploiter de façon optimale les informations, nous allons convetir les l'ID TICKET et le NUM LIGNE TICKET en caractère. A l'inverse, nous devons convertir le total TTC en valeur numérique.

In [6]:
ENTETES_TICKET['IDTICKET'] = ENTETES_TICKET['IDTICKET'].astype(str)
ENTETES_TICKET['IDCLIENT'] = ENTETES_TICKET['IDCLIENT'].astype(str)

In [7]:
ENTETES_TICKET['TIC_TOTALTTC'] = ENTETES_TICKET['TIC_TOTALTTC'].str.replace(',', '.')

In [8]:
ENTETES_TICKET['TIC_TOTALTTC'] = ENTETES_TICKET['TIC_TOTALTTC'].str.strip('\"')

In [9]:
ENTETES_TICKET['TIC_TOTALTTC'] = pd.to_numeric(ENTETES_TICKET['TIC_TOTALTTC'], errors='coerce')

Vérification du traitement.

In [10]:
ENTETES_TICKET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6714173 entries, 0 to 6714172
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   IDTICKET      object
 1   TIC_DATE      object
 2   MAG_CODE      object
 3   IDCLIENT      object
 4   TIC_TOTALTTC  float64
dtypes: float64(1), object(4)
memory usage: 256.1+ MB

In [11]:
ENTETES_TICKET

              IDTICKET             TIC_DATE MAG_CODE   IDCLIENT  TIC_TOTALTTC
0          50100150510  2016-01-02 11:01:33      ALB  2995104.0         12.90
1          50100150511  2016-01-02 11:02:10      ALB  1411117.0        131.06
2          50100150515  2016-01-02 12:03:27      ALB   222592.0         34.69
3          50100150517  2016-01-02 14:23:21      ALB  2979958.0         97.58
4          50100150518  2016-01-02 14:26:53      ALB  2858676.0          4.70
...                ...                  ...      ...        ...           ...
6714168  1340300014404  2016-12-27 16:31:52      RMA  2292927.0         59.45
6714169  1340300014407  2016-12-27 16:35:21      RMA  3189844.0         26.90
6714170  1340300014409  2016-12-27 16:38:59      RMA  3125998.0         22.15
6714171  1340300014438  2016-12-27 17:17:30      RMA  3252348.0        118.01
6714172  1340300014440  2016-12-27 17:24:15      RMA  3243933.0         44.80

[6714173 rows x 5 columns]

La ligne de code ci-dessous nous permet de formater le format de la date.

In [12]:
from datetime import datetime
ENTETES_TICKET['TIC_DATE'] = pd.to_datetime(ENTETES_TICKET['TIC_DATE'], format="%Y-%m-%d %H:%M:%S")
ENTETES_TICKET['TIC_DATE'] = ENTETES_TICKET['TIC_DATE'].dt.strftime("%d/%m/%Y")

Vérification du traitement.

In [13]:
ENTETES_TICKET

              IDTICKET    TIC_DATE MAG_CODE   IDCLIENT  TIC_TOTALTTC
0          50100150510  02/01/2016      ALB  2995104.0         12.90
1          50100150511  02/01/2016      ALB  1411117.0        131.06
2          50100150515  02/01/2016      ALB   222592.0         34.69
3          50100150517  02/01/2016      ALB  2979958.0         97.58
4          50100150518  02/01/2016      ALB  2858676.0          4.70
...                ...         ...      ...        ...           ...
6714168  1340300014404  27/12/2016      RMA  2292927.0         59.45
6714169  1340300014407  27/12/2016      RMA  3189844.0         26.90
6714170  1340300014409  27/12/2016      RMA  3125998.0         22.15
6714171  1340300014438  27/12/2016      RMA  3252348.0        118.01
6714172  1340300014440  27/12/2016      RMA  3243933.0         44.80

[6714173 rows x 5 columns]

Cette ligne de code nous permet d'identifier le nombre d'occurence de chaque code magasin, pour identifier les éventuels regroupements à effectuer.

In [14]:
#modalités variables:
ENTETES_TICKET['MAG_CODE'].value_counts(dropna = False)

MAG_CODE
SSM    246506
MOB    221283
HEI    219713
BEA    205468
GEX    196669
        ...
CLI     31063
STR     26694
SCH     25502
BAR     18254
SAL     18245
Name: count, Length: 66, dtype: int64

La ligne de code ci-dessous nous permet d'identifier la présence ou non de valeur(s) en doublons.

In [15]:
print(ENTETES_TICKET.duplicated().sum())
ENTETES_TICKET = ENTETES_TICKET.drop_duplicates()

0

La ligne de code ci-dessous nous permet d'identifier la présence ou non de valeur(s) manquante(s)

In [16]:
pd.DataFrame(index=ENTETES_TICKET.columns, columns=['%_missing_values'], data= (ENTETES_TICKET.isna().sum().values / len(ENTETES_TICKET)*100))

              %_missing_values
IDTICKET                   0.0
TIC_DATE                   0.0
MAG_CODE                   0.0
IDCLIENT                   0.0
TIC_TOTALTTC               0.0

In [17]:
ENTETES_TICKET

              IDTICKET    TIC_DATE MAG_CODE   IDCLIENT  TIC_TOTALTTC
0          50100150510  02/01/2016      ALB  2995104.0         12.90
1          50100150511  02/01/2016      ALB  1411117.0        131.06
2          50100150515  02/01/2016      ALB   222592.0         34.69
3          50100150517  02/01/2016      ALB  2979958.0         97.58
4          50100150518  02/01/2016      ALB  2858676.0          4.70
...                ...         ...      ...        ...           ...
6714168  1340300014404  27/12/2016      RMA  2292927.0         59.45
6714169  1340300014407  27/12/2016      RMA  3189844.0         26.90
6714170  1340300014409  27/12/2016      RMA  3125998.0         22.15
6714171  1340300014438  27/12/2016      RMA  3252348.0        118.01
6714172  1340300014440  27/12/2016      RMA  3243933.0         44.80

[6714173 rows x 5 columns]

In [18]:
ENTETES_TICKET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6714173 entries, 0 to 6714172
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   IDTICKET      object
 1   TIC_DATE      object
 2   MAG_CODE      object
 3   IDCLIENT      object
 4   TIC_TOTALTTC  float64
dtypes: float64(1), object(4)
memory usage: 256.1+ MB

In [19]:
ENTETES = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\ENTETES_TICKET_V4.pkl"
ENTETES_TICKET.to_pickle(ENTETES)