In [ ]:
import pip
pip.main(['install', 'pandas'])
pip.main(['install', 'matplotlib'])
pip.main(['install', 'seaborn'])
pip.main(['install', 'scikit-learn'])
!pip.main(['install', 'nbmerge'])
pip.main(['install', 'nbformat'])
!pip install nbformat ipynb-py-convert

CHARGEMENT DES BIBLIOTHEQUES

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as msno
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import MissingIndicator, KNNImputer,SimpleImputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

CHARGEMENT DU JEU DE DONNEES

In [3]:
CLIENTS = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\CLIENTS_NET.pkl"
data1 = pd.read_pickle(CLIENTS)

In [4]:
data1

,IDCLIENT,CIVILITE,MAGASIN,DATEREADHESION,ANCIENNETE,CODEINSEE,age_group,ANCIENNETE_RETRA
0,155891.0,Madame,VLG,2017-04-04,13,74224,Inconnue,13
1,156023.0,Monsieur,VLG,2014-06-21,11,74189,AGE DE 46-60,11
2,124203.0,Madame,BEA,2017-10-12,13,63070,Inconnue,13
3,156190.0,Madame,SUR,2015-05-24,10,92026,Inconnue,10
4,144444.0,Monsieur,LAB,2016-12-18,11,31555,Inconnue,11
...,...,...,...,...,...,...,...,...
720085,1970111.0,Monsieur,IAB,2018-01-06,8,38053,Inconnue,Inconnue
720086,2297275.0,Monsieur,SEM,2018-01-06,6,57067,AGE DE 31-45,Inconnue
720087,2305548.0,Monsieur,PRI,2018-01-06,6,38318,Inconnue,Inconnue
720088,84175.0,Madame,GAI,2018-01-07,17,74082,AGE DE 61-100,Inconnue
720089,1280004.0,Monsieur,SGL,2018-01-07,12,42218,Inconnue,Inconnue

In [5]:
CODEINSEE = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\CODEINSEE_NET.pkl"
data6 = pd.read_pickle(CODEINSEE)

In [6]:
data6

,CODEINSEE,Libellé,Région,Département,Emploi total,Administration publique,Agriculture,Bâtiment-Travaux Publics,Commerce inter-entreprises,"Conception, Recherche",...,"Transports, Logistique",Prestations Intellectuelles,"Santé, Action Sociale",Services de Proximité,Commerce \ninter-entreprises,"Conception, Recherche.1","Culture, Loisirs.1",Gestion.1,Prestations Intellectuelles.1,Total
0,1001,L'Abergement-Clémenciat,84,1,72,5,5,14,5,0,...,0,0,0,14,0,0,0,0,0,0
1,1002,L'Abergement-de-Varey,84,1,25,0,15,0,0,0,...,0,0,0,0,0,0,4,0,0,4
2,1004,Ambérieu-en-Bugey,84,1,7 697,842,23,514,229,79,...,1 017,247,808,630,46,53,42,155,84,380
3,1005,Ambérieux-en-Dombes,84,1,332,5,4,59,10,0,...,0,5,54,35,5,0,5,5,0,15
4,1006,Ambléon,84,1,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34940,97613,M'Tsangamouji,6,976,495,128,10,77,0,0,...,15,5,15,45,0,0,0,0,0,0
34941,97614,Ouangani,6,976,1 254,168,67,155,0,5,...,48,13,90,105,0,3,5,10,8,25
34942,97615,Pamandzi,6,976,1 642,460,10,55,10,10,...,125,27,72,200,3,5,35,10,10,62
34943,97616,Sada,6,976,1 447,175,45,210,0,0,...,117,8,35,190,0,0,5,15,3,23
34944,97617,Tsingoni,6,976,2 223,399,58,391,8,24,...,120,21,92,245,0,0,3,10,3,15

In [7]:
df_CLIENTS=data1.merge(data6, how='left',left_on='CODEINSEE', right_on='CODEINSEE')

In [8]:
df_CLIENTS

,IDCLIENT,CIVILITE,MAGASIN,DATEREADHESION,ANCIENNETE,CODEINSEE,age_group,ANCIENNETE_RETRA,Libellé,Région,...,"Transports, Logistique",Prestations Intellectuelles,"Santé, Action Sociale",Services de Proximité,Commerce \ninter-entreprises,"Conception, Recherche.1","Culture, Loisirs.1",Gestion.1,Prestations Intellectuelles.1,Total
0,155891.0,Madame,VLG,2017-04-04,13,74224,Inconnue,13,La Roche-sur-Foron,84,...,350,163,701,445,28,26,48,158,79,338
1,156023.0,Monsieur,VLG,2014-06-21,11,74189,AGE DE 46-60,11,Mont-Saxonnex,84,...,5,0,43,35,0,0,0,0,0,0
2,124203.0,Madame,BEA,2017-10-12,13,63070,Inconnue,13,Ceyrat,84,...,35,48,179,142,0,14,0,23,28,64
3,156190.0,Madame,SUR,2015-05-24,10,92026,Inconnue,10,Courbevoie,11,...,2 484,11 272,3 283,6 182,4 449,11 919,1 023,23 997,8 650,50 038
4,144444.0,Monsieur,LAB,2016-12-18,11,31555,Inconnue,11,Toulouse,76,...,19 305,24 208,35 647,27 359,4 937,26 823,4 863,17 427,13 144,67 194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407384,1970111.0,Monsieur,IAB,2018-01-06,8,38053,Inconnue,Inconnue,Bourgoin-Jallieu,84,...,1 090,546,3 008,1 753,141,116,137,558,192,1 143
407385,2297275.0,Monsieur,SEM,2018-01-06,6,57067,AGE DE 31-45,Inconnue,Bertrange,44,...,62,16,39,115,11,15,8,12,8,54
407386,2305548.0,Monsieur,PRI,2018-01-06,6,38318,Inconnue,Inconnue,Pont-Évêque,84,...,280,80,133,167,47,72,27,129,27,301
407387,84175.0,Madame,GAI,2018-01-07,17,74082,AGE DE 61-100,Inconnue,Collonges-sous-Salève,84,...,25,13,92,193,0,0,15,33,10,58
407388,1280004.0,Monsieur,SGL,2018-01-07,12,42218,Inconnue,Inconnue,Saint-Étienne,84,...,5 780,3 712,10 020,6 909,808,1 314,954,3 383,1 838,8 298

In [9]:
ARTICLES = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\ARTICLES_NET.pkl"
data4 = pd.read_pickle(ARTICLES)

In [10]:
data4

       IDARTICLE CODEUNIVERS CODEFAMILLE
1           1001          U2         130
2         100125          U1         010
3         100150          U1         010
4          10018          U1         100
5          10019          U1         100
...          ...         ...         ...
665941    407717          U3         120
665942    407719          U3         120
665943    407720          U3         120
665944    407721          U3         120
665945    407723          U3         120

[665945 rows x 3 columns]

In [11]:
MAGASINS = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\MAGASINS_NET.pkl"
data5 = pd.read_pickle(MAGASINS)

In [12]:
data5

,CODESOCIETE,VILLE,LIBELLEDEPARTEMENT,LIBELLEREGIONCOMMERCIALE
0,MET,METZ-TESSY,74,Rhône-Alpes
1,ALB,GILLY SUR ISERE,73,Rhône-Alpes
2,ALM,LES MILLES,13,Littoral
3,AVI,VILLENEUVE-LES-AVIGNON,30,Littoral
4,BEA,BEAUMONT,63,Centre-Paris
...,...,...,...,...
62,STR,SISTERON,4,Littoral
63,NEV,NEVERS CEDEX,58,Centre-Paris
64,BSN,CESSON,77,Centre-Paris
65,CAG,CAGNES SUR MER,6,Littoral
66,RMA,RUEIL MALMAISON,92,Centre-Paris

In [13]:
TICKETS = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\TICKETS_NET.pkl"
data_merged = pd.read_pickle(TICKETS)

In [14]:
data_merged

,IDTICKET,NUMLIGNETICKET,IDARTICLE,QUANTITE,MONTANTREMISE,TOTAL,MARGESORTIE,TOP_RETOUR,TIC_DATE,MAG_CODE,IDCLIENT,TIC_TOTALTTC,FREQUENCE_MAG,VARIETE_PANIER,TAUX_REMISE,ANCIENNETE_PREMIERE_COMMANDE,ANCIENNETE_DERNIERE_COMMANDE,ANCIENNETE_CDE
0,200200135291,3,33258,1.0,0.000,0.91,0.54,0.0,2016-05-02,IAB,2108,7.57,2,7,0.125211,121,0,121
1,200200135291,2,33247,1.0,0.000,1.24,0.72,0.0,2016-05-02,IAB,2108,7.57,2,7,0.125211,121,0,121
2,200200135291,1,227040,1.0,1.782,4.54,1.56,0.0,2016-05-02,IAB,2108,7.57,2,7,0.125211,121,0,121
3,200500180521,1,312922,1.0,0.545,4.86,2.71,0.0,2016-08-05,IAB,2108,20.58,2,7,0.125211,216,0,216
4,200500180521,4,932088,1.0,0.000,6.25,6.25,0.0,2016-08-05,IAB,2108,20.58,2,7,0.125211,216,0,216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34105921,770100547217,6,217360,1.0,0.227,2.09,0.32,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2
34105922,770100547217,7,33257,1.0,0.075,0.67,0.39,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2
34105923,770100547217,8,33247,1.0,0.133,1.16,0.64,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2
34105924,770100547217,9,58830,1.0,0.275,2.47,0.85,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2
34105925,770100547217,10,932088,1.0,0.000,6.25,6.25,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2

In [15]:
df_LIGNES_ARTICLES=data_merged.merge(data4, how='left',left_on='IDARTICLE', right_on='IDARTICLE')

In [16]:
df_LIGNES_ARTICLES

,IDTICKET,NUMLIGNETICKET,IDARTICLE,QUANTITE,MONTANTREMISE,TOTAL,MARGESORTIE,TOP_RETOUR,TIC_DATE,MAG_CODE,IDCLIENT,TIC_TOTALTTC,FREQUENCE_MAG,VARIETE_PANIER,TAUX_REMISE,ANCIENNETE_PREMIERE_COMMANDE,ANCIENNETE_DERNIERE_COMMANDE,ANCIENNETE_CDE,CODEUNIVERS,CODEFAMILLE
0,200200135291,3,33258,1.0,0.000,0.91,0.54,0.0,2016-05-02,IAB,2108,7.57,2,7,0.125211,121,0,121,U1,080
1,200200135291,2,33247,1.0,0.000,1.24,0.72,0.0,2016-05-02,IAB,2108,7.57,2,7,0.125211,121,0,121,U1,080
2,200200135291,1,227040,1.0,1.782,4.54,1.56,0.0,2016-05-02,IAB,2108,7.57,2,7,0.125211,121,0,121,U1,060
3,200500180521,1,312922,1.0,0.545,4.86,2.71,0.0,2016-08-05,IAB,2108,20.58,2,7,0.125211,216,0,216,U1,020
4,200500180521,4,932088,1.0,0.000,6.25,6.25,0.0,2016-08-05,IAB,2108,20.58,2,7,0.125211,216,0,216,U0,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34105921,770100547217,6,217360,1.0,0.227,2.09,0.32,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2,U4,220
34105922,770100547217,7,33257,1.0,0.075,0.67,0.39,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2,U1,080
34105923,770100547217,8,33247,1.0,0.133,1.16,0.64,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2,U1,080
34105924,770100547217,9,58830,1.0,0.275,2.47,0.85,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2,U4,220
34105925,770100547217,10,932088,1.0,0.000,6.25,6.25,0.0,2016-01-04,PEG,3517102,55.67,1,10,0.096505,2,0,2,U0,160