In [ ]:
import pip
pip.main(['install', 'pandas'])
pip.main(['install', 'matplotlib'])
pip.main(['install', 'seaborn'])
pip.main(['install', 'scikit-learn'])

Chargement des bibliothèques

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

Chargement du jeu de données.

In [14]:
dataset_path = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\Donnees_communales_2020_INSEE.csv"
data6 = pd.read_csv(dataset_path, sep=';', low_memory=False,encoding='latin-1')
print(data6.shape)
print(list(data6.columns))

(34945, 26)
['Code', 'Libellé', 'Région', 'Département', 'Emploi total', 'Administration publique', 'Agriculture', 'Bâtiment-Travaux Publics', 'Commerce inter-entreprises', 'Conception, Recherche', 'Culture, Loisirs', 'Distribution', 'Education, Formation', 'Entretien, Réparation', 'Fabrication', 'Gestion', 'Transports, Logistique', 'Prestations Intellectuelles', 'Santé, Action Sociale', 'Services de Proximité', 'Commerce \ninter-entreprises', 'Conception, Recherche.1', 'Culture, Loisirs.1', 'Gestion.1', 'Prestations Intellectuelles.1', 'Total']

La ligne de code ci-dessous nous permet de connaître le détail des colonnes ainsi que le type de données constituant notre base (numérique ou caractères).

In [15]:
data6

,Code,Libellé,Région,Département,Emploi total,Administration publique,Agriculture,Bâtiment-Travaux Publics,Commerce inter-entreprises,"Conception, Recherche",...,"Transports, Logistique",Prestations Intellectuelles,"Santé, Action Sociale",Services de Proximité,Commerce \ninter-entreprises,"Conception, Recherche.1","Culture, Loisirs.1",Gestion.1,Prestations Intellectuelles.1,Total
0,1001,L'Abergement-Clémenciat,84,1,72,5,5,14,5,0,...,0,0,0,14,0,0,0,0,0,0
1,1002,L'Abergement-de-Varey,84,1,25,0,15,0,0,0,...,0,0,0,0,0,0,4,0,0,4
2,1004,Ambérieu-en-Bugey,84,1,7 697,842,23,514,229,79,...,1 017,247,808,630,46,53,42,155,84,380
3,1005,Ambérieux-en-Dombes,84,1,332,5,4,59,10,0,...,0,5,54,35,5,0,5,5,0,15
4,1006,Ambléon,84,1,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34940,97613,M'Tsangamouji,6,976,495,128,10,77,0,0,...,15,5,15,45,0,0,0,0,0,0
34941,97614,Ouangani,6,976,1 254,168,67,155,0,5,...,48,13,90,105,0,3,5,10,8,25
34942,97615,Pamandzi,6,976,1 642,460,10,55,10,10,...,125,27,72,200,3,5,35,10,10,62
34943,97616,Sada,6,976,1 447,175,45,210,0,0,...,117,8,35,190,0,0,5,15,3,23
34944,97617,Tsingoni,6,976,2 223,399,58,391,8,24,...,120,21,92,245,0,0,3,10,3,15

In [16]:
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34945 entries, 0 to 34944
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Code                           34945 non-null  object
 1   Libellé                        34945 non-null  object
 2   Région                         34945 non-null  int64
 3   Département                    34945 non-null  object
 4   Emploi total                   34945 non-null  object
 5   Administration publique        34945 non-null  object
 6   Agriculture                    34945 non-null  object
 7   Bâtiment-Travaux Publics       34945 non-null  object
 8   Commerce inter-entreprises     34945 non-null  object
 9   Conception, Recherche          34945 non-null  object
 10  Culture, Loisirs               34945 non-null  object
 11  Distribution                   34945 non-null  object
 12  Education, Formation           34945 non-null  object
 13  Entretien, Réparation          34945 non-null  object
 14  Fabrication                    34945 non-null  object
 15  Gestion                        34945 non-null  object
 16  Transports, Logistique         34945 non-null  object
 17  Prestations Intellectuelles    34945 non-null  object
 18  Santé, Action Sociale          34945 non-null  object
 19  Services de Proximité          34945 non-null  object
 20  Commerce
inter-entreprises    34945 non-null  object
 21  Conception, Recherche.1        34945 non-null  object
 22  Culture, Loisirs.1             34945 non-null  object
 23  Gestion.1                      34945 non-null  object
 24  Prestations Intellectuelles.1  34945 non-null  object
 25  Total                          34945 non-null  object
dtypes: int64(1), object(25)
memory usage: 6.9+ MB

Afin d'exploiter de façon optimale les informations, nous allons convetir les codes postaux en caractère. Nous n'avons pas nécessité à conserver ces valeurs en numérique.

In [17]:
data6['Région'] = data6['Région'].astype(str)

Vérification du traitement

In [7]:
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34945 entries, 0 to 34944
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Code                           34945 non-null  object
 1   Libellé                        34945 non-null  object
 2   Région                         34945 non-null  object
 3   Département                    34945 non-null  object
 4   Emploi total                   34945 non-null  object
 5   Administration publique        34945 non-null  object
 6   Agriculture                    34945 non-null  object
 7   Bâtiment-Travaux Publics       34945 non-null  object
 8   Commerce inter-entreprises     34945 non-null  object
 9   Conception, Recherche          34945 non-null  object
 10  Culture, Loisirs               34945 non-null  object
 11  Distribution                   34945 non-null  object
 12  Education, Formation           34945 non-null  object
 13  Entretien, Réparation          34945 non-null  object
 14  Fabrication                    34945 non-null  object
 15  Gestion                        34945 non-null  object
 16  Transports, Logistique         34945 non-null  object
 17  Prestations Intellectuelles    34945 non-null  object
 18  Santé, Action Sociale          34945 non-null  object
 19  Services de Proximité          34945 non-null  object
 20  Commerce
inter-entreprises    34945 non-null  object
 21  Conception, Recherche.1        34945 non-null  object
 22  Culture, Loisirs.1             34945 non-null  object
 23  Gestion.1                      34945 non-null  object
 24  Prestations Intellectuelles.1  34945 non-null  object
 25  Total                          34945 non-null  object
dtypes: object(26)
memory usage: 6.9+ MB

Suppression des colonnes dont les informations nous serons pas nécessairement utiles dans le cadre de notre projet.

La ligne de code ci-dessous nous permet d'identifier les valeurs en doublons qui conviendra de traiter.

In [18]:
print(data6.duplicated().sum())
data6 = data6.drop_duplicates()

0

Nous procédons également à la vérification de présence ou non de valeurs manquantes.

In [19]:
pd.DataFrame(index=data6.columns, columns=['%_missing_values'], data= (data6.isna().sum().values / len(data6)*100))

                               %_missing_values
Code                                        0.0
Libellé                                     0.0
Région                                      0.0
Département                                 0.0
Emploi total                                0.0
Administration publique                     0.0
Agriculture                                 0.0
Bâtiment-Travaux Publics                    0.0
Commerce inter-entreprises                  0.0
Conception, Recherche                       0.0
Culture, Loisirs                            0.0
Distribution                                0.0
Education, Formation                        0.0
Entretien, Réparation                       0.0
Fabrication                                 0.0
Gestion                                     0.0
Transports, Logistique                      0.0
Prestations Intellectuelles                 0.0
Santé, Action Sociale                       0.0
Services de Proximité                       0.0
Commerce \ninter-entreprises                0.0
Conception, Recherche.1                     0.0
Culture, Loisirs.1                          0.0
Gestion.1                                   0.0
Prestations Intellectuelles.1               0.0
Total                                       0.0

Le traitement des valeurs aberrantes ne concernant que les variables numériques, nous n'allons pas procéder à ce traitement car aucune de nos variables n'est concernées sur ce dataframe.

In [20]:
data6.rename(columns={'Code': 'CODEINSEE'}, inplace=True)

In [21]:
data6

,CODEINSEE,Libellé,Région,Département,Emploi total,Administration publique,Agriculture,Bâtiment-Travaux Publics,Commerce inter-entreprises,"Conception, Recherche",...,"Transports, Logistique",Prestations Intellectuelles,"Santé, Action Sociale",Services de Proximité,Commerce \ninter-entreprises,"Conception, Recherche.1","Culture, Loisirs.1",Gestion.1,Prestations Intellectuelles.1,Total
0,1001,L'Abergement-Clémenciat,84,1,72,5,5,14,5,0,...,0,0,0,14,0,0,0,0,0,0
1,1002,L'Abergement-de-Varey,84,1,25,0,15,0,0,0,...,0,0,0,0,0,0,4,0,0,4
2,1004,Ambérieu-en-Bugey,84,1,7 697,842,23,514,229,79,...,1 017,247,808,630,46,53,42,155,84,380
3,1005,Ambérieux-en-Dombes,84,1,332,5,4,59,10,0,...,0,5,54,35,5,0,5,5,0,15
4,1006,Ambléon,84,1,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34940,97613,M'Tsangamouji,6,976,495,128,10,77,0,0,...,15,5,15,45,0,0,0,0,0,0
34941,97614,Ouangani,6,976,1 254,168,67,155,0,5,...,48,13,90,105,0,3,5,10,8,25
34942,97615,Pamandzi,6,976,1 642,460,10,55,10,10,...,125,27,72,200,3,5,35,10,10,62
34943,97616,Sada,6,976,1 447,175,45,210,0,0,...,117,8,35,190,0,0,5,15,3,23
34944,97617,Tsingoni,6,976,2 223,399,58,391,8,24,...,120,21,92,245,0,0,3,10,3,15

In [22]:
CODEINSEE = "C:\\Users\\belga\\OneDrive\\Bureau\\EMBA Big Data\\Module Datascience\\Projet Data Science S2 2024\\CODEINSEE_NET.pkl"
data6.to_pickle(CODEINSEE)